[submodule "SCD4x"]
	path = SCD4x
	url = git@github.com:dgoffredo/SCD4x.git
[submodule "embedded-i2c-scd4x"]
	path = embedded-i2c-scd4x
	url = git@github.com:dgoffredo/embedded-i2c-scd4x.git
[submodule "dht22/picoro"]
	path = dht22/picoro
	url = git@github.com:/dgoffredo/picoro.git
[submodule "embedded-i2c-sht3x"]
	path = embedded-i2c-sht3x
	url = https://github.com/Sensirion/embedded-i2c-sht3x
[submodule "access-point/picoro"]
	path = access-point/picoro
	url = git@github.com:dgoffredo/picoro.git
